ul{
	list-style: none;
}

body {
	margin: 0px 
}


form{
	text-align: center;
	margin-top: 0px;

}

#banner1 {
	height: 420px;
	background-image:url("Imagenes/indexbanner-bg3.jpg") ;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	}		

#banner1>div>p{
	height: 80px;
	width:400px;
	font-family: Open Sans;
	font-size: 13px;
	color: #fff; 
	line-height: 24px;
	margin-top: 0px;

}

#contenido{
	width: 800px;
	height: 130px;
	margin: 0px auto;
	position: absolute;
	bottom: 145px;
	left: 23%;
}

#contenido>h1, #contenido>p{
 	margin: 0px;
 }

form{
	display: inline-block;
	margin-top: 380px;
	position: absolute;
	right: 10%;
	left: 10%;
}



.titulocostado{
	margin-top: 110px;
	margin-left: 220px;
	margin-bottom: 0px;
	display: inline-block;
}




#search{
	height: 70px;
	width:130px;
	background-color: #00CCFF;
	font-family:Open Sans;
	font-size: 10px;
	color: #fff;
	font-weight: bold;
	padding:2px 15px;
	letter-spacing: 5px;
	border:none;
	margin: none;
 
}

/*------------------*/

h2 {
	font-family: Raleway;
	font-size: 28px;
	color: #132c40;
	font-weight: bold;
	margin-top: 80px;
	}

p {
	font-family: Open Sans;
	font-size: 11px;
	color: #132c40; 
	font-weight: lighter;
	letter-spacing: 0px;
}

/*------------------*/

section>p {
	text-align: center;
	font-size: 13px;
}

.listasmart{
	width: 1000px;
	height: 480px;
	margin: 100px auto;
	margin-bottom: 0px;
	text-align: center;

}

.centrado, .lista{
	text-align: center;
	display: inline-block;
	margin right: 15px;
	}

.lista img{
	margin: 40px; 
}
 
.listacentrada{
	text-align: center;
	margin-top: 80px;
	padding: 0px;
}

.lista img, .lista h4, .lista p{
	display: list-item;
}


/*------------------*/

.lista2 {
	width: 250px;
	padding: 20px 50px 20px 0px;
	line-height: 10px;
}

.lista2>p, .lista2>h4{
	display: list-item;
	text-align: left;
}

.listamadre1 {
	text-align: left;
	display: inline-block;
	float: left;
	width: 300px;
	padding-left: 0px;
	}

.listamadre1>.lista2>img{
	float: right;
	text-align: right;
	}

/*------------------*/

#smartphone{
	width: 270px;
	}

/*------------------*/

.lista3 {
	width: 250px;
	padding: 20px 50px 20px 0px;
}

.lista3>p, .lista3>h4{
	display: list-item;
	text-align: right;
}

.listamadre2 {
	text-align: right;
	display: inline-block;
	float:right;
	width: 300px;
	padding-left: 0px;
	}

.listamadre2>.lista3>img{
	float: left;
}

h4{
	margin-left: 0px;
	margin-right: 0px;
}

.listamadre2>li{
	padding-left: 50px;
	padding right: 0px;
}

/*------------------*/




#banner2{
	height: 420px;
	background-image: url("Imagenes/pricing-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	margin-bottom: 280px;
}

#banner2{
	margin-top: 0;
	padding-top: 120px;
} 

.precio{
	font-family: Raleway;
	font-size: 40px;
	color: #132c40;
	font-weight: bold;
	margin: 0px;
	}



sup { 
    vertical-align: super;
    font-size: 13px;
}

.mes{
	font-family: Open Sans;
	font-size: 10px;
	color: #132c40;
	font-weight: lighter;
	margin: 1px;

}

.planmensual{
	
	font-family: Open Sans;
	font-size: 11px;
	color: #132c40; 
	line-height: 26px;
}

table{
	margin: 20px auto;
}



.turquesa{
	color: #00CCFF;
	font-weight:bold;
	padding-left: 8px;
}

.amarillo{
	color: #e8e613;
	font-weight:bold;
	padding-left: 8px;
}

.naranja{
	color: #e87213;
	font-weight:bold;
	padding-left: 8px;
}

.rojo{
	color: #f7220c;
	font-weight:bold;
	padding-left: 8px;
}

.ContenedorPromociones{
	background-color: #FFF;
	border color: red;
	border:2px ;
	border-style: solid;
	border-color: #cecece; 
	width:200px;
	height: 380px;
	display: inline-block;
	margin: 20px;
	margin-bottom: 100px;

}



