
#banner1 {
	height: 420px;
	background-image:url("Imagenes/indexbanner-bg2.jpg") ;
	background-size: cover;
	background-repeat: no-repeat;
	
	}		


#banner1>h1{
	margin: 0px auto;
	text-align: center;
	padding-top: 150px;
	}


#banner1>p{	
	margin: 20px auto;
	text-align: center;
	padding: 0px;
}

.centrar{
	text-align: center;
}


.izquierda {
	display: inline-block;
	float: left;
	margin left: 50px;
}

#textarea{
	display: inline-block;
	float: right;
	height: 210px;
}

.input{
	width: 450px;
}

.centrar>div{
	width: 950px;
	height: 350px;
	margin: 30px auto;
	text-align: center;
}

button{
	display: inline-block;
	margin-top: 30px;
}